/* colors */
$c-white: #fff;
$c-black: #000;
$c-emperor: #505050;
$c-moodyBlue: #7475d4;
$c-blueViolet: #4848ac;
$c-bayOfMany: #303096;
$c-mercury: #e8e8e8;
$c-doveGray: #707070;
$c-alabaster: #f9f9f9;
$c-minsk: #34358f;
$c-alto: #d5d5d5;
$c-wildBlueYonder: #8383b6;
$c-gigas: #4444AB;
$c-orangePeel: #ffa202;
$c-burningOrange: #ff7733;
$c-crusta: #fe782f;
$c-westSide: #ff990c;

/* breaks */
$break-xs: 450px;
$break-s: 600px;
$break-mobile: 769px;
$break-mid: 992px;
$break-laptop: 1250px;
$break-desktop: 1600px;
$break-wide: 2250px;

/* fonts */
$f-montserrat: "Montserrat", sans-serif;