.error404 {
    padding-top: 100px;

    main {
        min-height: calc(100vh - 382px);
    }

    .wave-top {
        width: 50vw;
        position: absolute;
        top: 0;
        left: 0;
    }

    nav {
        &:not(.sticky) {
            .logo svg path {
                fill: $c-white;
            }

            .menu-nawigacja-gorna-container::after {
                content: '';
                left: 10px;
                bottom: -38px;
                position: absolute;
                display: block;
                border-bottom: 1px solid $c-mercury;
                width: 100vw;
            }
        }

        ul li {
            &:last-child a {
                color: $c-white;
                background-size: 200% auto;
                background-image: linear-gradient(135deg, $c-bayOfMany 0%, $c-moodyBlue 51%, $c-bayOfMany 100%);
                transition: 0.5s;

                &:hover {
                    color: $c-white;
                    background-position: right center;
                }

                &:before {
                    display: none;
                }
            }

            a {
                color: $c-bayOfMany;

                &::before {
                    background: lighten($c-bayOfMany, 0%);
                }
            }
        }

        .menu-nawigacja-gorna-container {
            position: relative
        }
    }

    #section1 {
        margin: 100px 0;

        h1 {
            font-size: 250px;
            color: $c-emperor;
            font-weight: 300;

            span {
                display: block;
                font-weight: 700;

                span {
                    display: inline-block;
                }
            }
        }

        h3 {
            color: $c-emperor;
            font-weight: 700;
            margin-top: 55px;
            font-size: 32px;

        }

        h4 {
            color: $c-doveGray;
            font-size: 26px;
            max-width: 440px;
            line-height: 24px;
            margin: 35px 0;
            font-weight: 300;
            margin-top: 33px;
            margin-bottom: 40px;
        }

        .btn {
            max-width: 230px;
        }
    }

    .bottom-wave {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 45vw;
        z-index: -1;
    }

    footer {
        padding-bottom: 40px;
    }

    .copyright {
        color: $c-emperor;
        border-top: 1px solid $c-mercury;
        padding-top: 20px;

        br {
            display: none;
        }
    }
}

@media only screen and (max-width: $break-laptop) {
    .error404 {
        .wave-top {
            width: 82vw;
            left: -21vw;
        }

        .bottom-wave {
            width: 50vw;
        }

        #section1 {
            margin: 150px 0;

            h1 {
                font-size: 190px;
            }

            h3 {
                margin-top: 40px;
                font-size: 28px;
            }

            h4 {
                font-size: 22px;
                margin-top: 18px;
                margin-bottom: 22px;
            }
        }

    }
}

@media only screen and (max-width: $break-mid) {
    .error404 {
        .wave-top {
            width: 92vw;
            left: -28vw;
        }

        #section1 {
            margin: 100px 0;
        }
    }
}

@media only screen and (max-width: $break-mobile) {
    .error404 {
        padding-top: 0;

        nav {
            .logo {
                margin-left: 0;
                margin-top: -1px;
            }

            .hamburger span {
                background: $c-blueViolet;
            }

            .menu-nawigacja-gorna-container {
                position: static;

                &::after {
                    content: none !important;
                }
            }

            ul li a,
            ul li a:hover,
            ul li a:focus {
                color: $c-white;
            }
        }

        .wave-top {
            display: none;
        }

        main {
            padding-top: 0;
        }

        #section1 {
            background-image: url('../img/contact-mobile-top-wave.png');
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 370px;
            padding-top: 120px;
            margin-top: 0;
            text-align: center;
            margin-bottom: 50px;

            h3 {
                margin-top: 0;
            }

            h4 {
                text-align: center;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 24px;
            }

            .btn {
                margin: auto;
            }
        }

        footer {
            .bottom-wave {
                display: none;
            }

            background-image: url(../img/contact-mobile-bottom-wave.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 305px;
            height: 100px;
            padding-bottom:0;

            .container {
                position: absolute;
                left: 0;
                bottom: 0;
                border-top: 1px solid $c-mercury;
                width: calc(100% - 27px);
            }

            .copyright {
                padding-left: 0;
                line-height: 16px;
                margin-bottom: 21px;
                border: none;
                padding-top: 10px;
                width: auto;

                br {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: $break-xs) {
    .error404 {
        nav .logo {
            margin-left: -15px;
        }

        #section1 {
            background-size: 300px;
            padding-bottom: 0;

            h1 {
                font-size: 120px;
            }

            h3 {
                font-size: 22px;
            }

            h4 {
                font-size: 22px;
            }

            .btn {
                font-size: 11px;
            }
        }

        footer {
            .copyright {
                width: auto;
                font-size: 10px;
                line-height: 14px;
                margin-bottom: 25px;
            }
        }
    }
}