.page-faq {
  .section1 {
    position: relative;
    padding: 200px 15px;
    display: flex;

    div {
      flex-basis: 50%;
      display: flex;
      align-items: baseline;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      color: $c-emperor;
      font-size: 50px;
      font-weight: 300;
      margin: 0;

      span {
        display: block;
        font-weight: 600;
        font-size: 70px;

        span {
          margin-top: 5px;
        }
      }
    }

    h4 {
      color: $c-doveGray;
      font-size: 18px;
      max-width: 440px;
      line-height: 30px;
      margin: 35px 0;
      font-weight: 500;
      margin-bottom: 30px;
      max-width: 100%;
    }

    .btn {
      margin: 25px 0;
      padding: 0 30px;
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  .section2 {
    h2 {
      margin-bottom: 25px;
    }

    .collapsible {
      list-style: none;
      counter-reset: my-awesome-counter;
      padding-left: 0;

      &__question {
        font-weight: 500;
        padding: 20px 0;
        border-radius: 5px;
        counter-increment: my-awesome-counter;

        &::before {
          content: counter(my-awesome-counter) ". ";
          font-size: 1.2rem;
          font-weight: bold;
          color: $c-moodyBlue;
          margin-right: 5px;
        }

        h4 {
          font-size: 1.3rem;
          position: relative;
          display: inline-block;
        }

        &__wrapper {
          margin-bottom: 15px;
          position: relative;

          &::after {
            display: block;
            width: 50px;
            min-height: 1px;
            border-bottom: 2px solid $c-burningOrange;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }

          &:last-child::after {
            display: none;
          }
        }

        &__answer {
          font-size: 1.1rem;
          font-weight: 300;
          padding: 15px 0;

          strong {
            font-weight: 500;
          }

          p {
            margin-bottom: 0;
          }

          a {
            text-decoration: underline;
            color: $c-moodyBlue;
            font-weight: 500;
          }
        }
      }
    }
  }

  .section3 {
    margin: 100px 0;
    position: relative;

    h2 {
      font-size: 34px;
      margin-top: 0;

      span {
        line-height: 1.2;
        font-size: 48px;
      }
    }

    h5 {
      margin-top: 20px;
      margin-bottom: 30px;
      line-height: 24px;
      font-weight: 500;
      font-size: 18px;
    }

    .info-box {
      max-width: 35em;
      margin: auto;
      text-align: center;
      position: relative;

      .btn {
        width: 42.5%;
        display: inline-block;
      }

      span.or {
        width: 15%;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: $break-desktop) {
  .page-faq {
    .section1 h1 {
      margin-bottom: 25px;
    }
  }
}

@media only screen and (max-width: $break-laptop) {
  .page-faq {
    .section1 {
      padding: 175px 15px 100px;

      h1 span {
        font-size: 42px;
      }

      h4 {
        margin: 25px 0;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .page-faq .section2 .collapsible__question {
    h4 {
      font-size: 1.2rem;
    }

    &__answer {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .page-faq {
    .section1 {
      height: auto;
      flex-direction: column;
      padding: 100px 15px;

      div {
        order: 2;
        flex-basis: 100%;

        &:last-child {
          order: 1;
        }
      }

      img {
        max-width: 400px;
        margin: auto;
        width: 100%;
      }
    }

    .section2 {
      padding: 0 50px;

      .collapsible__question {
        &::before {
          position: absolute;
          left: -25px;
          transform: translateY(-3px);
          margin-right: 0;
        }

        h4 {
          position: relative;
          font-size: 1rem;
          width: 100%;

          &::after {
            content: "+";
            font: normal normal normal 2.5rem/28px $f-montserrat;
            color: $c-moodyBlue;
            position: absolute;
            right: -30px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
          }
        }

        &.on h4::after {
          content: "-";
          font-size: 3rem;
        }

        &__answer {
          display: none;
          font-size: 0.9rem;
        }
      }
    }

    .section3 {
      margin: 50px 0;

      h2 {
        font-size: 28px;

        span {
          font-size: 40px;
        }
      }

      .info-box {
        display: flex;
        align-items: center;
        flex-direction: column;

        span.or {
          margin: 15px auto;
        }

        .btn {
          width: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .page-faq {
    .section1 {
      padding-bottom: 0;

      h1 {
        margin-top: 25px;

        span {
          font-size: 32px;
        }
      }

      h4 {
        margin: 10px 0;
      }

      .btn {
        margin: 30px auto 100px;
      }
    }

    .section3 {
      h2 {
        font-size: 20px;

        span {
          font-size: 28px;
        }
      }

      h5 {
        font-size: 14px;
        padding: 0 30px;
      }
    }
  }
}
