nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 120px;
  transition: height 0.5s, background-color 0s;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    transition: all 0.5s;

    &::before,
    &::after {
      display: none;
    }
  }

  .logo {
    display: inline-block;
    padding: 0;
    width: 160px;
    margin: 0;
    transition: 0.3s;
    margin-left: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 0 15px;
      margin-left: 0;
      vertical-align: middle;
      position: relative;

      a {
        display: block;
        height: 100%;
        margin: 0 15px;
        padding: 0;
        color: $c-bayOfMany;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        text-decoration: none;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        z-index: 10;

        &:before {
          content: "";
          position: absolute;
          left: -1px;
          width: 100%;
          height: 1px;
          background: lighten($c-bayOfMany, 0%);
          bottom: 0;
          transform: translateX(-100%);
          transition: transform 0.4s ease;
        }

        &:hover:before {
          left: 0;
          transform: translateX(0);
        }
      }

      &:last-child {
        height: 50px;
        margin-right: 0;

        a {
          border-radius: 25px;
          width: 240px;
          padding: 0;
          line-height: 50px;
          letter-spacing: 1.5px;
          margin-right: 0;
          color: $c-white;
          background-size: 200% auto;
          background-image: linear-gradient(
            135deg,
            $c-bayOfMany 0%,
            $c-moodyBlue 51%,
            $c-bayOfMany 100%
          );
          transition: 0.5s;

          &:hover {
            color: $c-white;
            background-position: right center;
          }

          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .sub-menu {
    visibility: hidden;
    position: absolute;
    padding: 20px;
    background-color: $c-white;
    width: 350px;
    left: 50%;
    transform: translateY(20px) translateX(-50%);
    box-shadow: 0px 6px 8px -6px rgba($c-black, 0.75);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.25s ease-in-out;

    &.on {
      opacity: 1;
      visibility: visible;
      transform: translateY(32px) translateX(-50%);
    }

    li.menu-item {
      display: block;

      &:last-child {
        height: auto;

        a {
          width: auto;
          padding: 0;
          background: none;
          line-height: normal;
          transition: none;
          border-radius: 0;
          line-height: 1.5;

          &::before {
            display: inline-block;
          }
        }
      }

      a {
        display: inline-block;
        color: $c-emperor;
        text-align: left;

        &:before {
          background: $c-emperor;
        }

        &:hover,
        &:before {
          color: $c-emperor;
        }
      }
    }

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 34px;
      background-image: url(../img/triangle.svg);
      background-position: center 11px;
      background-repeat: no-repeat;
      background-size: 35px;
      position: absolute;
      left: 0;
      right: 0;
      top: -32px;
      margin: auto;
    }

    &::after {
      content: "";
      display: block;
      width: 65px;
      height: 100%;
      background-image: url(../img/mouse.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      margin: auto;
      right: 25px;
      top: 0;
      bottom: 0;
    }
  }

  &.sticky {
    height: 75px;
    padding-top: 0;
    background-color: $c-white;
    box-shadow: 0px 3px 25px -6px rgba($c-black, 0.75);

    .container {
      margin-top: 0;
    }

    .menu-item {
      &:last-child a {
        color: $c-white;
      }

      .sub-menu {
        transform: translateY(4px) translateX(-50%);

        &.on {
          transform: translateY(24px) translateX(-50%);
        }

        li a {
          color: $c-emperor;

          &:last-child {
            color: $c-emperor;
            background: none;
            border: none;
            width: auto;
            display: inline-block;
            transition: none;

            &:hover {
              color: $c-emperor;
            }
          }
        }

        &::before {
          height: 30px;
          top: -25px;
        }
      }

      .logo {
        width: 150px;
      }

      a:before {
        background: lighten($c-bayOfMany, 0%);
      }

      a,
      a:hover,
      a:focus {
        color: $c-minsk;
      }
    }
  }

  &:not(.sticky) .logo svg path {
    fill: $c-white;
  }

  .mobile-submenu-toggler {
    display: none;
  }
}

@media only screen and (max-width: $break-laptop) {
  nav {
    .menu-item {
      margin: 0 5px;

      a {
        margin: 0 5px;
        font-size: 13px;
      }
    }

    .logo {
      width: 130px;
    }

    &.sticky .logo {
      width: 120px;
    }
  }
}

@media only screen and (max-width: $break-mid) {
  nav .menu-item {
    a {
      margin: 0;
      font-size: 12px;
    }

    &:last-child a {
      width: 210px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  nav {
    height: 75px;
    padding: 20px 15px;

    .container {
      display: block;
    }

    &.sticky {
      padding-top: 20px;

      .hamburger span {
        background-color: $c-blueViolet;
      }

      .menu-item .sub-menu {
        transform: translateX(100%);

        &.on {
          transform: translateX(0);
        }
      }
    }

    .menu,
    &.sticky .menu {
      height: 0;
      overflow: hidden;
      position: absolute;
      transition: 0.5s;
      left: 0;
      background-color: $c-gigas;
      width: 100%;
      top: 0;
      margin: 0;
      box-shadow: 0px 2px 30px -8px rgba($c-black, 0.75);

      &-item {
        display: block;
        text-align: center;
        margin: 20px 0;

        a {
          color: $c-white;
          max-width: 150px;
          margin: auto;

          &::before {
            content: none;
          }
        }

        &:first-child {
          margin-top: 65px;
        }

        &:last-child a {
          margin: auto;
          max-width: 100%;
          background-image: none;
          border: 1px solid $c-white;
        }
      }

      .logo {
        margin-top: 0;
        margin-left: -15px;
      }
    }

    .hamburger {
      display: block;
      float: right;
      width: 30px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      z-index: 1;
      margin-top: 5px;

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: $c-blueViolet;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 9px;
        }

        &:nth-child(4) {
          top: 18px;
        }
      }
    }

    &.opened {
      .menu {
        height: 300px;
      }

      .hamburger span {
        background-color: $c-white;

        &:nth-child(1) {
          top: 9px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 9px;
          width: 0%;
          left: 50%;
        }
      }
    }

    .sub-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      transform: translateX(100%);
      opacity: 1;
      visibility: visible;
      z-index: 20;
      background-color: $c-white;
      padding: 7px 0;

      &:before,
      &:after {
        display: none;
      }

      &.on {
        transform: translateX(0);
      }

      li.menu-item a {
        text-align: center;
        max-width: 250px;
        padding: 0 15px;
      }

      .actions {
        position: absolute;
        top: 16px;
        width: 100%;
        list-style: none;
      }

      &-back-btn {
        background-image: url("../img/back-btn.svg");
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        border: none;
        text-transform: uppercase;
        left: 20px;
        color: $c-emperor;
        position: absolute;
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
      }

      &-close-btn {
        background: none;
        position: absolute;
        top: 4px;
        font: normal normal normal 1rem/1em $f-montserrat;
        border: none;
        text-transform: uppercase;
        right: 20px;
        width: 30px;
        height: 25px;

        span {
          background-color: $c-emperor;
          transform: rotate(45deg);
          height: 4px;
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          top: 9px;
          border-radius: 3px;

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }

    .mobile-submenu-toggler {
      display: block;
      background-image: url("../img/angle-arrow-down.svg");
      background-position: center;
      background-size: 15px;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 20px;
      transform: rotate(-90deg);
      top: -7px;
    }
  }
}

@media only screen and (max-width: $break-xs) {
  nav {
    .logo {
      width: 110px;
      margin-left: -15px;
    }

    &.sticky .logo {
      margin-left: -15px;
      margin-top: 2px;
      width: 120px;
    }
  }
}

@media only screen and (min-width: $break-wide) {
  nav:not(.sticky) .logo svg path {
    fill: url(#SVGID_1_);
  }
}
