.offer-subpage {
  padding: 150px 0 50px;

  .banner {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__box {
      flex-basis: 50%;
    }

    &__title {
      font-size: 50px;
      color: $c-emperor;
      font-weight: 300;
      margin-top: 15px;

      &__fragment {
        display: block;
        padding-left: 25px;
        font-weight: 700;
      }
    }

    &__list {
      list-style: none;
      padding-left: 30px;

      &__element {
        display: flex;
        height: 60px;
        margin: 20px 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 60px;
        color: $c-doveGray;
        padding-right: 10px;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 50px auto;
        align-items: center;
        
        &__icon {
          margin-right: 20px;
          width: 50px;
        }
      }
    }

    &__paragraph {
      padding-left: 30px;
      font-size: 16px;
      font-weight: 500;
      color: $c-doveGray;
      line-height: 28px;
      margin-top: 40px;
      margin-bottom: 25px;
    }

    &__image {
      width: 100%;
      margin-left: 25px;
    }

    &__button {
      padding: 0 25px;
      margin: 50px 25px;
    }
  }

  .benefits {
    &__title {
      text-align: center;
      margin-top: 35px;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    .bg {
      height: 500px;
      background-color: $c-alabaster;
      position: absolute;
      z-index: -1;
      width: 100%;
    }

    &__type {
      border-top: 7px solid $c-moodyBlue;
      flex-basis: 30%;
      background-color: $c-white;
      box-shadow: 0px 3px 53px -19px rgba($c-black, 0.75);
      padding: 25px;

      &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0;
        display: flex;
        align-content: center;
        min-height: 58px;

        span {
          display: block;
          margin: auto;
          text-align: center;
        }
      }

      &__description {
        font-size: 16px;
      }
    }

    &__sub-title {
      text-align: center;
      margin-top: 50px;

      span {
        display: block;
        font-weight: 700;
        font-size: 40px;
      }
    }

    &__button {
      margin: 25px auto;
    }
  }

  .full-service {
    padding-bottom: 200px;
    border-bottom: 1px solid red;
  }

  .faq {
    margin-top: 100px;

    h2 {
      margin-bottom: 25px;
      text-align: center;
    }

    .collapsible {
      list-style: none;
      counter-reset: my-awesome-counter;
      padding-left: 0;

      &__question {
        font-weight: 500;
        padding: 20px 0;
        border-radius: 5px;
        counter-increment: my-awesome-counter;

        &::before {
          content: counter(my-awesome-counter) ". ";
          font-size: 1.2rem;
          font-weight: bold;
          color: $c-moodyBlue;
          margin-right: 5px;
        }

        h4 {
          font-size: 1.3rem;
          position: relative;
          display: inline-block;
        }

        &__wrapper {
          margin-bottom: 15px;
          position: relative;

          &::after {
            display: block;
            width: 50px;
            min-height: 1px;
            border-bottom: 2px solid $c-burningOrange;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }

          &:last-child::after {
            display: none;
          }
        }

        &__answer {
          font-size: 1.1rem;
          font-weight: 300;
          padding: 15px 0;

          strong {
            font-weight: 500;
          }

          p {
            margin-bottom: 0;
          }

          a {
            text-decoration: underline;
            color: $c-blueViolet;
            font-weight: 500;
          }

          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .ending-section {
    margin: 100px 0;
    position: relative;

    h2 {
      font-size: 34px;
      margin-top: 0;

      span {
        display: inline-block;
        line-height: 1.2;
        font-size: 34px;
      }
    }

    h5 {
      margin-top: 20px;
      margin-bottom: 30px;
      line-height: 24px;
      font-weight: 500;
      font-size: 18px;
    }

    .info-box {
      max-width: 35em;
      margin: auto;
      text-align: center;
      position: relative;

      .btn {
        width: 42.5%;
        display: inline-block;
      }

      span.or {
        width: 15%;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: $break-desktop) {
  .offer-subpage {
    .banner {
      &__list__element {
        font-size: 16px;
        margin: 15px 0;
      }

      &__paragraph {
        line-height: 1.6em;
        margin: 20px 0;
      }

      &__button {
        margin-bottom: 0;
      }
    }

    .benefits {
      &__type {
        padding: 15px 20px;
        flex-basis: 31.33%;
      }
    }
  }
}

@media only screen and (max-width: $break-laptop) {
  .offer-subpage {
    .banner {
      &__title {
        font-size: 42px;
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .offer-subpage {
    padding-top: 120px;
  }
}

@media only screen and (max-width: $break-mobile) {
  .offer-subpage {
    padding-top: 0;

    .banner {
      flex-direction: column;

      &__box {
        flex-basis: 100%;

        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;
          max-width: 400px;
          margin: 120px auto 0;
        }
      }

      &__list {
        display: flex;
        flex-wrap: wrap;

        &__element {
          display: flex;
          flex-basis: 50%;
          align-items: center;
          line-height: 1.5em;
          padding-left: 60px;
          background-size: 45px;
          font-size: 16px;
        }
      }

      &__button {
        margin: 30px auto 0;
      }

      &__title {
        font-size: 28px;
      }
    }

    .benefits {
      &__title {
        font-size: 28px;

        span {
          font-size: 28px;
        }
      }

      &__box {
        flex-direction: column;
      }

      &__type {
        flex-basis: 100%;
        margin: 15px auto;
        max-width: 400px;
      }

      &__sub-title {
        margin-top: 30px;
        font-size: 22px;

        span {
          font-size: 28px;
        }
      }
    }

    .faq {
      padding: 0 50px;
      margin-top: 25px;

      h2 {
        font-size: 26px;

        span {
          font-size: 26px;
        }
      }

      .collapsible__question {
        &::before {
          position: absolute;
          left: -25px;
          transform: translateY(-3px);
          margin-right: 0;
        }

        h4 {
          position: relative;
          font-size: 1rem;
          width: 100%;

          &::after {
            content: "+";
            font: normal normal normal 2.5rem/28px "Montserrat", sans-serif;
            color: #7475d4;
            position: absolute;
            right: -30px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
          }
        }

        &__answer {
          display: none;
          font-size: 0.9rem;
        }
      }
    }

    .ending-section {
      margin: 50px 0;

      h5 {
        font-size: 16px;
      }

      .info-box {
        padding: 0 15px;

        .btn {
          display: block;
          width: 100%;
          max-width: 300px;
          margin: auto;
        }

        span.or {
          margin: 10px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .offer-subpage {
    .banner {
      &__list__element {
        flex-basis: 100%;
        margin: 10px 0;
      }

      &__image {
        margin-left: 0;
      }
    }

    .faq h2 {
      font-size: 20px;

      span {
        font-size: 20px;
      }
    }
  }
}
