.offer-subpage {
  padding: 150px 0 50px;

  .banner {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__box {
      flex-basis: 50%;
    }

    &__title {
      font-size: 50px;
      color: $c-emperor;
      font-weight: 300;
      margin-top: 15px;

      &__fragment {
        display: block;
        padding-left: 25px;
        font-weight: 700;
      }
    }

    &__list {
      list-style: none;
      padding-left: 30px;

      &__element {
        display: block;
        height: 60px;
        margin: 20px 0;
        padding-left: 80px;
        font-size: 18px;
        font-weight: 500;
        line-height: 60px;
        color: $c-doveGray;
        padding-right: 10px;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 50px auto;

        &.simple {
          background-image: url(../img/svg/simple.svg);
        }

        &.optimized {
          background-image: url(../img/svg/optymalizacja.svg);
        }

        &.speed {
          background-image: url(../img/svg/szybkosc.svg);
        }

        &.responsive {
          background-image: url(../img/svg/responsive.svg);
        }
      }
    }

    &__paragraph {
      padding-left: 30px;
      font-size: 16px;
      font-weight: 500;
      color: $c-doveGray;
      line-height: 28px;
      margin-top: 40px;
      margin-bottom: 25px;
    }

    &__image {
      width: 100%;
      margin-left: 25px;
    }

    &__button {
      padding: 0 25px;
      margin: 50px 25px;
    }
  }

  .benefits {
    &__title {
      text-align: center;
      margin-top: 35px;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    .bg {
      height: 500px;
      background-color: $c-alabaster;
      position: absolute;
      z-index: -1;
      width: 100%;
    }

    &__type {
      border-top: 7px solid $c-moodyBlue;
      flex-basis: 30%;
      background-color: $c-white;
      box-shadow: 0px 3px 53px -19px rgba($c-black, 0.75);
      padding: 25px;

      &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0;
        display: flex;
        align-content: center;
        min-height: 58px;

        span {
          display: block;
          margin: auto;
          text-align: center;
        }
      }

      &__desc {
      }
    }

    &__sub-title {
      text-align: center;
      margin-top: 50px;

      span {
        display: block;
        font-weight: 700;
        font-size: 40px;
      }
    }

    &__button {
      margin: 25px auto;
    }
  }

  .full-service {
    padding-bottom: 200px;
    border-bottom: 1px solid red;
  }

  .ending-section {
    margin: 100px 0;
    position: relative;

    h2 {
      font-size: 34px;
      margin-top: 0;

      span {
        display: inline-block;
        line-height: 1.2;
        font-size: 34px;
      }
    }

    h5 {
      margin-top: 20px;
      margin-bottom: 30px;
      line-height: 24px;
      font-weight: 500;
      font-size: 18px;
    }

    .info-box {
      max-width: 35em;
      margin: auto;
      text-align: center;
      position: relative;

      .btn {
        width: 42.5%;
        display: inline-block;
      }

      span.or {
        width: 15%;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: $break-desktop) {
  .offer-subpage {
    .section1 h1 {
      margin-bottom: 25px;
    }
  }
}

@media only screen and (max-width: $break-laptop) {
  .offer-subpage {
    .section1 {
      h1 {
        font-size: 42px;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .offer-subpage {
    .section1 {
      min-height: 400px;

      h1 {
        padding-top: 150px;
      }
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .offer-subpage {
    .section1 {
      min-height: calc(100vh - 100px);
      height: auto;
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .offer-subpage {
    .section1 {
      min-height: calc(100vh - 100px);
      padding-bottom: 0;

      h1 {
        font-size: 32px;
        padding-top: 100px;
        line-height: 32px;
      }

      h2 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
}
