.page-portfolio {
  .wave-top {
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #section1 {
    width: 100%;
    position: relative;
    width: 100%;
    position: relative;
    padding-bottom: 100px;

    h1 {
      font-size: 64px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 60px;
      padding-top: 250px;

      span {
        display: block;
        font-weight: 700;

        span {
          display: inline-block;
        }
      }
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 50px;
    }

    .project-box {
      padding: 100px 0;
      float: left;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      .description {
        padding: 0 75px;

        svg {
          width: 50px;
          margin: 0 10px;

          &.js {
            width: 43px;
            position: relative;
            top: 4px;
          }
        }

        h3 {
          font-weight: 600;
          font-size: 32px;
          margin-top: 15px;
        }

        p {
          color: $c-doveGray;
          font-size: 14px;
          margin-bottom: 25px;
        }

        a {
          display: inline-block;
          padding: 0 25px;
          width: 200px;
        }
      }

      .gif {
        padding: 0 75px;

        img {
          display: block;
          margin: auto;
          width: 100%;
          box-shadow: 0px 0px 5px 0px rgba($c-black, 0.75);
        }
      }

      .line {
        display: block;
        position: absolute;
        left: 50%;
        height: 100%;
        top: 0;
        border-right: 1px solid $c-moodyBlue;

        &::after {
          content: "";
          display: block;
          width: 11px;
          height: 11px;
          background-color: $c-bayOfMany;
          border-radius: 50%;
          position: absolute;
          left: -5px;
          top: 50%;
        }
      }

      &.align-right {
        text-align: right;

        .description {
          svg:last-child {
            margin-right: 0;
          }

          p {
            padding-left: 50px;
          }

          a:last-child {
            margin-left: 15px;
          }
        }
      }

      &.align-left {
        text-align: left;

        .description {
          svg:first-child {
            margin-left: 0;
          }

          p {
            padding-right: 50px;
          }

          a:first-of-type {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $break-desktop) {
  .page-portfolio {
    .wave-top {
      width: 60vw;
      left: -10vw;
    }

    #section1 {
      h1 {
        margin-bottom: 25px;
      }
    }

    .bottom-wave {
      width: 50vw;
    }
  }
}

@media only screen and (max-width: $break-laptop) {
  .page-portfolio {
    .wave-top {
      width: 82vw;
      left: -21vw;
    }

    #section1 {
      h1 {
        font-size: 42px;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 20px;
      }

      .project-box {
        .description {
          padding: 0 30px;

          a {
            width: auto;
            padding: 0 20px;
            font-size: 12px;
          }
        }
      }
    }

    .bottom-wave {
      width: 52vw;
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .page-portfolio {
    #section1 {
      min-height: 400px;

      h1 {
        padding-top: 150px;
      }

      .project-box {
        padding: 75px 0;

        .description {
          svg {
            width: 35px;
            margin: 0 5px;

            &.js {
              width: 35px;
            }
          }

          p {
            font-size: 13px;
          }

          h3 {
            font-size: 28px;
          }

          a {
            padding: 0 15px;
            height: 45px;
            line-height: 45px;
            min-width: 0;
          }
        }

        .gif {
          padding: 0 35px;
        }
      }
    }

    .wave-top {
      width: 92vw;
      left: -28vw;
    }

    .bottom-wave {
      width: 60vw;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  .page-portfolio {
    .wave-top {
      display: none;
    }

    #section1 {
      min-height: calc(100vh - 100px);
      height: auto;
      background-image: url("../img/contact-mobile-top-wave.png");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 370px;

      .project-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;

        .line {
          display: none;
        }

        .gif {
          order: 1;
          max-width: 500px;
        }

        .description {
          order: 2;
          margin-top: 25px;
        }

        &.align-left,
        &.align-right {
          text-align: center;

          .description {
            p {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .page-portfolio {
    #section1 {
      min-height: calc(100vh - 100px);
      background-size: 300px;
      padding-bottom: 0;

      h1 {
        font-size: 32px;
        padding-top: 100px;
        line-height: 32px;
      }

      h2 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
      }

      .project-box {
        .description {
          a {
            display: block;
            width: 200px;
            margin: 15px auto !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-wide) {
  .page-portfolio {
    .copyright {
      width: 100%;
      text-align: center;
    }
  }
}
